<div class="dashhead dashhead-style">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">OPENMONEY.NETWORK</h6>
    <h3 class="dashhead-title">{{title}}</h3>
  </div>
  <div class="dashhead-toolbar">
    <button type="button" id="logout-button" class="btn btn-xs btn-pill btn-danger" style="margin-top: 7px;"><span class="icon icon-log-out"></span> Logout : {{#steward}}{{stewardname}}{{/steward}} </button>
    <!-- <span class="dashhead-toolbar-divider hidden-xs"></span> -->
  </div>
  <!-- <div class="dashhead-toolbar">
    <button type="button" id="help-button" class="btn btn-xs btn-pill btn-info" style="margin-top: 7px;"><span class="icon icon-help-with-circle"></span> Help</button>
  </div> -->
</div>
<div id='breadcrumbs' class="breadcrumbs"></div>
<div id="success-notification" class="notifications center-block alert alert-success text-center" role="alert" style="display: none;"></div>
<div id="error-notification" class="notifications center-block alert alert-danger text-center" role="alert" style="display: none;"></div>
