<div id="main-content" class="main-content text-center">
  <div class="main-functions center-block panel panel-default">
    <div class="panel-heading text-left"><a href="#login" id='back'><span class="glyphicon glyphicon-chevron-left"></span></a> <strong>FORGOT PASSWORD</strong></div>
    <div class="panel-body">
      <form id="forgot">
        <div class="form-group text-left">
          <label for="stewardname">Steward Name or Email</label>
          <input type="text" id="stewardname" name="stewardname" value="" placeholder="Steward Name or Email" class="form-control" />
        </div>
        <div class="form-group text-right">
          <button type="button" name="forgot" id="forgot-button" class="btn btn-primary">Forgot Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
