<div id="main-content" class="main-content text-center">
  <div class="main-functions center-block panel panel-default">
    <div class="panel-heading text-left"><a href="#login" id='back'><span class="glyphicon glyphicon-chevron-left"></span></a> <strong>Sign Up</strong></div>
    <div class="panel-body">
      <form id="register">
        <div class="form-group text-left">
          <label for="stewardname">Steward Name</label>
          <input type="text" id="stewardname" name="stewardname" value="" placeholder="Steward Name" class="form-control" />
        </div>
        <div class="form-group text-left">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" value="" placeholder="Email" class="form-control"/>
        </div>
        <div class="form-group text-left">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" value="" placeholder="Password" class="form-control"/>
        </div>
        <div class="form-group text-right">
          <button type="button" name="register" id="register-button" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
  <div id="main-spacer" class="main-spacer">
      <div style="height:100%;">&nbsp;</div>
  </div>
</div>
