{{#stewards}}
<tr id="{{id}}">
  <td>
    <div class="checkbox custom-control custom-checkbox">
    <label>
      <input type="checkbox" id="stewardsCheckbox" name="stewardsCheckbox[]" value="stewards~{{stewardname}}">
      <span class="custom-control-indicator"></span>
      &nbsp;&nbsp;&nbsp;&nbsp;{{stewardname}}
    </label>
  </div>
  </td>
</tr>
{{/stewards}}
