<style>
[data-sort=table] > tbody > tr:hover{
  background-color: #159c6e;
  cursor: pointer;
}
</style>
<div class="col-sm-12" style="padding-top: 10px;">
  <h2><strong>Stewards</strong></h2>
  <div class="row text-right" style="padding-top: 20px;padding-bottom: 20px;">
    <button type="button" name="addSteward" class="btn btn-lg btn-success-outline">Add Steward</button>
  </div>
  <div class="table-full">
    <table class="table display" data-sort="table">
      <thead>
        <tr>
          <th class="">Steward Name</th>
          <th class="">Email</th>
        </tr>
      </thead>
      <tbody class="table-rows">
        {{#each collection}}
          <tr id="{{stewardname}}">
            <td>{{stewardname}}</td>
            <td>{{email}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
