{{#stewards}}
  <div class="flextable" style="padding-bottom: 10px;">
    <div class="flextable-item flextable-primary">
      <li class="list-group-item">
      {{stewardname}}
      <input type="hidden" name="stewards[]" value="stewards~{{stewardname}}" />
      </li>
    </div>
    <div class="flextable-item">
      <div class="btn-group">
        <button type="button" name="remove" value="stewards~{{stewardname}}" class="btn btn-danger-outline">
          <span class="icon icon-cross" style="font-size: 1.2em"></span>
        </button>
      </div>
    </div>
  </div>
{{else}}
  <li class="list-group-item">
    There are no stewards in the list.
  </li>
{{/stewards}}
