<section id="welcome" class="welcome">
    <header id="header" class="header">
    </header>
    <section id="main">
        <img id="logo" src="public/assets/images/openmoney-logo-vector.svg" class="svg img-responsive center-block" alt="Openmoney Logo"/>
    </section>
    <footer id="footer" class="footer">
    </footer>
</section>
